<nav>
    <ul>
        <li>
            <a href="/add-message">
                <button>Add message</button>
            </a>
        </li>
        <%if(locals.currentUser){%>
            <%if(currentUser.status === "member"){%>
                <li>
                    <a href="/member-admin">
                        <button>Become admin</button>
                    </a>
                </li>
            <%}else if(!currentUser.status){%>
                <li>
                    <a href="/member">
                        <button>Join our club</button>
                    </a>
                </li>
                <li>
                    <a href="/member-admin">
                        <button>Become admin</button>
                    </a>
                </li>
            <%}%>
            <li>
                <a href="/log-out">
                    <button type="button">log out</button>
                </a>
            </li>
        <%} else{%>
            <li>
                <a href="/log-in">
                    <button type="submit">log in</button>
                </a>
            </li>
        <%}%>
    </ul>
</nav>