body {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

#log-in {
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid #888;
}

.form-main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}



